.button-warning {
    background-color: yellow;
}

.button-active {
    background-color: lightyellow;
}

#game {
    display: none;
}

.card {
    width: 20%;
    height: auto;
    padding: 2.5%;
    display: inline-block;
}

.flipped {
    border: 5px solid black;
}
