@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

body {
    background-color: #e3f6f5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 5vw;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: 600;
}

.counters {
    font-weight: 600;
}

/* ---------------------------------------- Main Menu */

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width: 200px;
    background-color: #a8d4c3;
    padding: 35px 0;
    border-radius: 10px;
    border: 3px dotted #000;
}

/* ---------------------------------------- Buttons */

#easy-button, #medium-button, #hard-button, #play-button, #rules-button-main {
    text-align: center;
    min-width: 120px;
    display: block;
    padding: 10px;
    margin: 10px auto;
}

.button-warning {
    background-color: yellow;
}

.button-active {
    background-color: lightyellow;
}

/* ---------------------------------------- Playing cards */

.flip-card {
    background-color: transparent;
    perspective: 1000px; /* 3D effect */
    padding: 1%;
    aspect-ratio: 3/3;
    cursor: pointer;
}

.card-image {
    height: 100%;
    width: 100%;
    padding: 5%;
    object-fit: contain;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: rotateY(0deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
}

.flip-card-front {
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(-180deg);
}

/* ---------------------------------------- Visibility */

#game {
    display: none;
}

/* ---------------------------------------- Footer */

.bi-github::before,
.bi-linkedin::before {
    font-size: 2rem;
    color: black;
}

.copyright {
    font-size: 16px;
}

/* ---------------------------------------- Modals */

.modal-header {
    width: 100%;
    border-bottom: 0;
}

.modal-header h5 {
    text-align: center;
    width: 100%;
}

.modal-body {
    text-align: center;
}

.modal-footer {
    border-top: 0;
    justify-content: center;
    padding-bottom: 1.25rem;
}

/* ---------------------------------------- Media queries */

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 4vw;
    }

    .bi-github::before,
    .bi-linkedin::before {
        font-size: 1.5rem;
    }

    #moves {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    h1 {
        font-size: 7vw;
    }

    h2 {
        font-size: 3vw;
    }

    .bi-github::before,
    .bi-linkedin::before {
        font-size: 1.5rem;
    }
}
