body {
    background-color: #e3f6f5;
}

.button-warning {
    background-color: yellow;
}

.button-active {
    background-color: lightyellow;
}

#game {
    display: none;
}

.flipped {
    border: 5px solid black;
}
